.itinerario {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

.itinerarioHeader {
    background-color: rgb(233, 233, 233);
    height: 40px;
    font-size: 20px; 
}

.segmentos {
    background-color: rgb(148, 216, 148);
    height: 40px;
}

.rutas {
    background-color: rgb(219, 255, 223);
    height: 45px;
}