<div class="mat-elevation-z4">
  <div fxLayout="row" style="padding-left: 10px; padding-right: 10px">
    <h3>Resultados</h3>
  </div>

  <form [formGroup]="formulario" class="form-group">
    <div class="form-check form-check-inline mx-sm-3">
      <input type="radio" id="redondo" formControlName="tVuelo" (change)="changeForm()" [value]="1" clas="form-check-input">
      <label class="form-check-label" for="redondo">Redondo</label>
    </div>
    <div class="form-check form-check-inline mx-sm-3">
      <input type="radio" id="sencillo" formControlName="tVuelo" (change)="changeForm()" [value]="2" clas="form-check-input">
      <label class="form-check-label" for="sencillo">Sencillo</label>
    </div>
    <div class="form-check form-check-inline mx-sm-3">
      <input type="radio" id="multidestino" formControlName="tVuelo" (change)="changeForm()" [value]="3" clas="form-check-input">
      <label class="form-check-label" for="multidestino">Multidestino</label>
    </div>

    <div *ngIf="tipoVuelo !== 3" class="form-inline">

      <!--<mat-form-field fxFlex="50">
          <input matInput placeholder="salida" formControlName="salida" [matAutocomplete]="auto"
            [formControl]="cpCtrl">
          <mat-autocomplete [displayWith]="displayFnCp.bind(this)" #auto="matAutocomplete">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let cp of filteredCp | async" [value]="cp">
              <span>{{ cp.textxo }}</span>
              <!-- | <small>Col: {{cp.colonia}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>-->
      <!--<input hidden="hidden" formControlName="ocultoairport"/>
        <mat-form-field>

          <input matInput [matAutocomplete]="auto" [formControl]="searchAirport" formControlName="airport">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelected($event.option.value)' [displayWith]="displayFnProducto.bind(this)">
            <mat-option *ngFor="let airport of filteredOptions | async" [value]="airport">
              <span>{{ airport.name }}</span>
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>-->
      <!--<mat-form-field>
          <input matInput [matAutocomplete]="auto" formControlName="salida" placeholder="Salida">
          <mat-autocomplete [displayWith]="displayFnCp.bind(this)" #auto="matAutocomplete">
            <mat-option>--</mat-option>
            <mat-option (onSelectionChange)="oprime" *ngFor="let cp of filteredCp | async" [value]="cp">
              <span>{{ cp.codigoPostal }}</span> |
              <small>Col: {{cp.colonia}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>-->

      <div class="form-group mx-sm-3 mb-2">
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.texto" [term]="t"></ngb-highlight>
        </ng-template>

        <input type="text" formControlName="salida" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)"
          #instance="ngbTypeahead" [inputFormatter]="formatter" [resultTemplate]="rt" class="form-control" placeholder="Salida">

        <input type="text" formControlName="destino" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)"
          #instance="ngbTypeahead" [inputFormatter]="formatter" [resultTemplate]="rt" class="form-control" placeholder="Destino">

        <!--<div class="input-group date">-->
        <input type="text" id="fechaSalida" formControlName="fechaSalida" class="form-control" placeholder="Fecha Salida">
        <!--<div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>-->


        <input formControlName="fechaRegreso" class="form-control" placeholder="Fecha Regreso">

        <div class="input-group">
          <input type="text" formControlName="pasajeros" class="form-control" aria-describedby="button-buscar" placeholder="Pasajeros">
          <div class="input-group-append">
            <button type="submit" (click)="buscar()" id="button-buscar" class="btn btn-success">Buscar</button>
          </div>
        </div>

      </div>
    </div>

    <div formGroupName="multidestino" *ngIf="tipoVuelo === 3">
      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" formControlName="salidaM" class="form-control" placeholder="Salida">

          <input type="text" formControlName="destinoM" class="form-control" placeholder="Destino">

          <input formControlName="fechaSalidaM" class="form-control" placeholder="Fecha Salida">

          <input formControlName="fechaRegresoM" class="form-control" placeholder="Fecha Regreso">
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" formControlName="salidaM2" class="form-control" placeholder="Salida">

          <input type="text" formControlName="destinoM2" class="form-control" placeholder="Destino">

          <input formControlName="fechaSalidaM2" class="form-control" placeholder="Fecha Salida">

          <input formControlName="fechaRegresoM2" class="form-control" placeholder="Fecha Regreso">
        </div>
      </div>

      <div class="form-inline mx-sm-3">
        <div class="input-group mb-3">
          <input type="text" formControlName="pasajerosM" class="form-control" aria-describedby="button-buscar" placeholder="Pasajeros">
          <div class="input-group-append">
            <button type="submit" (click)="buscar()" id="button-buscar" class="btn btn-success">Buscar</button>
          </div>
        </div>
      </div>

    </div>

    <div class="form-inline mx-sm-3">
      <button type="button" (click)="changeAvanzada()" class="btn btn-outline-secondary">Opciones Avanzadas</button>
      <input type="text" formControlName="escalas" *ngIf="opcionAvanzada" class="form-control" placeholder="Escalas">
      <input type="text" formControlName="clase" *ngIf="opcionAvanzada" class="form-control" placeholder="Clase">
      <input type="text" formControlName="codigo" *ngIf="opcionAvanzada" class="form-control" placeholder="Código de promoción">
    </div>

  </form>

  <div fxLayout="row">

    <!--<mat-sidenav-container style="height:445px;">
      <mat-sidenav mode="side" opened>-->
    <div class="mx-sm-3">
      Filtrar Resultados
      <button type="button" class="btn btn-success">Filtrar</button>

      <!--<mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Precio
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Horario
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aerolineas
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>-->
    </div>

    <!--<mat-sidenav-content>-->
    <div *ngFor="let itinerario of itinerarios" fxLayout="row" class="itinerario">

      <div class="mat-elevation-z4">
        <div class="itinerarioHeader">
          {{itinerario.gdsType}}: ${{itinerario.precio.total}} {{itinerario.moneda}} Precio total
          <button type="button" (click)="irReservacion()" class="btn btn-success">Reservar</button>

        </div>
        <div *ngFor="let segmento of itinerario.segmentos;">
          <div class="segmentos">
            {{segmento.origen}} - {{segmento.destino}}
          </div>
          <div *ngFor="let ruta of segmento.rutas;">
            <div class="rutas">
              {{ruta.fechaSalida}} ---> {{ruta.fechaLlegada}} Tiempo de vuelo: {{ruta.tiempoVuelo}}
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>