<div class="mat-elevation-z4">
  <div class="mx-sm-3 mb-2">
    <h3>REGISTRO DE PASAGEROS</h3>
  </div>

  <div>
    <form [formGroup]="formulario" class="form-group">

      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
          <input type="text" formControlName="apellidos" class="form-control" placeholder="Apellidos">
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <select formControlName="nacionalidad" class="form-control" placeholder="Nacionalidad">
            <option value="1">Mexicana</option>
          </select>

          <input type="text" formControlName="numPasaporte" class="form-control" placeholder="Número de pasaporte">
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" formControlName="fechaNacimiento" class="form-control" placeholder="Fecha de nacimiento">

          <select formControlName="sexo" class="form-control" placeholder="Sexo">
            <option value="1">------</option>
            <option value="2">Femenino</option>
            <option value="3">Masculino</option>
          </select>

          <input type="text" formControlName="telefono" class="form-control" placeholder="Teléfono">
        </div>
      </div>

      <div class="form-inline">
        <div class="mx-sm-3 mb-2">
          <input type="email" formControlName="correo" class="form-control" placeholder="Correo">
        </div>

        <button (click)="continuar()" class="btn btn-success">Continuar</button>
      </div>
    </form>

    <div fxLayoutAlign="end">
      <!-- acordeon -->
    </div>
  </div>
</div>